html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-color: #000;
  overflow: hidden;
  font-family: arial, sans-serif;
  font-size: 13px;
}
video,
button {
  outline: none;
}

#sidebar {
  width: 100px;
  background-color: #ccc;
  display: none;
}
#content {
  margin: auto;
  position: relative;
}

#toast {
  position: absolute;
  right: 50px;
  top: 80px;
  z-index: 2147483647;
  color: #fff;
  line-height: 160%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 5px 20px;
  white-space: pre;
  font-size: 13px;
}
#toast:empty {
  display: none;
}

[hbox] {
  display: flex;
  flex-direction: row;
}
[vbox] {
  display: flex;
  flex-direction: column;
}
[flex="1"] {
  flex: 1;
}
[pack=center] {
  justify-content: center;
}
[align=center] {
  align-items: center;
}

.video-js .vjs-big-play-button {
  width: 6em !important;
  height: 2em !important;
  top: 1ch !important;
  left: 1ch !important;
  margin: auto !important;
}
.video-js .vjs-big-play-button .vjs-icon-placeholder::before {
  content: 'Drag Media or Click to Start' !important;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: unset !important;
}

.vjs-playback-rate .vjs-playback-rate-value {
  font-size: 100% !important;
  line-height: 3 !important;
}

@media screen and (max-width: 600px) {
  .vjs-loop-button,
  .vjs-shuffle-button,
  .vjs-subs-caps-button,
  .vjs-boost-button,
  .vjs-screenshot-button {
    display: none !important;
  }
}

@media screen and (max-width: 500px) {
  .vjs-seek-button {
    display: none !important;
  }
}
